.nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #202020;
}

.website-logo-website {
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-self: center;
  padding-left: 20px;
}
.header-navbar-container {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  color: #ffffff;
}

.list-items {
  padding-left: 20px;
}

.icon-image {
  color: #f1f5f9;
  font-size: 30px;
}

.logout-sm-button {
  background-color: transparent;
  color: #f1f5f9;
  font-size: 30px;
  border-width: 0px;
}

.home-lg-heading {
  font-family: 'Roboto';
  font-weight: bold;
  color: #ffffff;
  padding-top: 3px;
}

.logout-lg-button {
  background-color: #6366f1;
  border-radius: 5px;
  border-width: 0px;
  color: #ffffff;
  font-family: 'Roboto';
  font-weight: 500;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: 40px;
}
@media screen and (min-width: 768px) {
  .nav-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: space-between;
  }

  .icon-image {
    display: none;
  }
  .logout-sm-button {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .home-lg-heading {
    display: none;
  }
  .logout-lg-button {
    display: none;
  }
}
